<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Welcome</h1>
            <h3 class="mb-5">
                <em>Start saving your favourite links</em>
            </h3>
            <a href="/signin" class="btn btn-primary">Sign In!</a>
            <a href="/signup" class="btn btn-primary">Create Account</a>
        </div>
    </header>

</main>