body {
    background: #f5f6f5;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
}

.index {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px) {
    .masthead .h1 {
        font-size: 5.5rem;
    }
}